.hero{
    background-image:url('/img/jumbotronpic.jpg');
    background-size:cover;
    
}

body{
    background-color:rgb(32, 32, 32);
}

.current{
    font-family: 'Poppins', sans-serif;
}

.priceslash{
    text-decoration:line-through;
}

.cart{
        padding: 5px 20px 15px 20px;
        border-radius: 3px;
}

span.price {
    float: right;
    color: grey;
  }

  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%;
    flex: 25%;
    padding: 0 16px;
  }
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 16px;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
    padding: 0 16px;
  }

  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  

  @media (max-width: 768px) {
    .col-25 {
      margin-bottom: 20px;
    }
  }

  .paypal{
      font-size:9vh;
  }